table.dataTable td.dt-control {
	text-align: left;
	cursor: pointer
}

table.dataTable td.dt-control:before {
	content: "+";
	background-color: #31b131;
	height: 1em;
	width: 1em;
	margin-top: -9px;
	margin-right: 10px;
	display: inline-block;
	color: white;
	border: .15em solid white;
	border-radius: 1em;
	box-shadow: 0 0 .2em #444;
	box-sizing: content-box;
	text-align: center;
	text-indent: 0 !important;
	font-family: "Courier New", Courier, monospace;
	line-height: 1.1em;
}

table.dataTable tr.parent td.dt-control:before {
	content: "-";
	background-color: #d33333
}

